<label for="name">
	<f:translate key="tx_vcamillerntor_domain_model_kuenstler.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="decription">
	<f:translate key="tx_vcamillerntor_domain_model_kuenstler.decription" />
</label><br />
	<f:form.textarea property="decription" cols="40" rows="15" /><br />
<label for="logo">
	<f:translate key="tx_vcamillerntor_domain_model_kuenstler.logo" />
</label><br />
	<f:form.upload property="logo" /><br />
<label for="werk">
	<f:translate key="tx_vcamillerntor_domain_model_kuenstler.werk" />
</label><br />
	<f:form.textfield property="werk" /><br />