<div class="vcamillerntor-kuenstler-teaser">
	<f:link.action action="show" pageUid="7" controller="Kuenstler" arguments="{kuenstler : kuenstler}" class="img-link">
		<f:image src="{kuenstler.logo.uid}" alt="{kuenstler.name}" width="800c" height="800c" treatIdAsReference="1" /> 
	</f:link.action>
</div>
<div class="carousel-caption kuenstler">
	<h3>
		<f:link.action action="show" pageUid="7" controller="Kuenstler" arguments="{kuenstler : kuenstler}">
		{kuenstler.name}
		</f:link.action>
	</h3>
</div>