<f:layout name="Bootstrap" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="well"><header class="page-header"><h1>Supporters A-Z</h1></header>
	<div class="btn-group" id="filter">
		<button data-filter="*" type="button" class="btn btn-default">Alle</button>
		<f:for each="{view_variables.alphabet}" as="index" key="char">
	  		<button data-filter=".{char}-char" type="button" class="btn btn-default">{char}</button>
			<!-- f:debug title="char">{char}</f:debug-->
		</f:for>
	</div>
</div>

<f:flashMessages />

<div id="container">
<f:debug title="artist">{view_variables.kuenstlers}</f:debug>
	<f:render partial="Kuenstler/Items" arguments="{kuenstlers:view_variables.kuenstlers}" />
</div>

</f:section>