<f:layout name="Bootstrap" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<header class="well"><h2>K&uuml;nstler-Index</h2></header>

<f:flashMessages />

<div id="container">
	<!--tr>
		<th><f:translate key="tx_vcamillerntor_domain_model_kuenstler.name" /></th>
		<th><f:translate key="tx_vcamillerntor_domain_model_kuenstler.decription" /></th>
		<th><f:translate key="tx_vcamillerntor_domain_model_kuenstler.logo" /></th>
		<th> </th>
		<th> </th>
	</tr-->

	<f:for each="{kuenstlers}" as="kuenstler">
		<div class="item"> 
			<f:link.action action="show" pageUid="310" arguments="{kuenstler : kuenstler}"><f:image src="uploads/tx_vcamillerntor/{kuenstler.logo}" width="200" alt="{kuenstler.name}" /> </f:link.action>
			
			<h3><f:link.action action="show" pageUid="310" arguments="{kuenstler : kuenstler}"> {kuenstler.name}</f:link.action></h3>
			<p><f:format.crop maxCharacters="80" append="&nbsp;[...]">{kuenstler.decription}</f:format.crop></p>
			<!--td><f:link.action action="edit" arguments="{kuenstler : kuenstler}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{kuenstler : kuenstler}">Delete</f:link.action></td-->
		</div>
	</f:for>
</div>

<!--f:link.action action="new">New Kuenstler</f:link.action-->
</f:section>