<div id="container">
	<div class="item">  	 
		<!-- f:image src="fileadmin/millerntor/assets/image/logo.png" alt="{ausstellung.title}" width='500' /-->
        	
        <h3>{ausstellung.title}
        <small>{ausstellung.start -> f:format.date()} - {ausstellung.end -> f:format.date()}</small>
        </h3>
        <p>{ausstellung.description}</p>

    </div>


	<f:for each="{ausstellung.werke}" as="werk">
    	<div class="item">  	 
			<f:link.action action="show" pageUid="6" pluginName="werke" controller="Werk" arguments="{werk : werk}"> 
				<f:image src="{werk.media.0.uid}" alt="{werk.media.0.originalResource.title}" width="300" treatIdAsReference="1" />
			</f:link.action>
            	
            <h3 class="name">{werk.title}</h3>
            <ul>
            	<f:for each="{werk.artist}" as="artist">
            	<li>
            		<f:link.action action="show" pageUid="310" pluginName="kuenstler" controller="Kuenstler" arguments="{kuenstler : artist}"> {artist.name}</f:link.action>
            	</li>
            	</f:for>
            </ul>	
            <p>{werk.description}</p>

        </div>
    </f:for>
</div>		    